/fibre1/
/Data
/Fibres1
/runs
yolov8n-seg.pt
/ImageCreation/detection
/ImageCreation/tmp
/ImageCreation/__pycache__
ImageCreation/__pycache__

Training/segmentAnything/sam_vit_h_4b8939.pth
Training/segmentAnything/1 manual count wool.jpg
Training/segmentAnything/images/
Step3_Train_Models/MaskRCNN/0.torch
Training/segmentAnything/sam_vit_b_01ec64.pth
SegmentAnythingModel_20230714_114428.pt
SegmentAnythingModel_20230714_120114.pt
0.torch
Step1_DataCreation/__pycache__/generate_test.cpython-39.pyc
Step1_DataCreation/__pycache__/generate.cpython-39.pyc
SegmentAnythingModel_20230716_122431.pt
sam_vit_b_01ec64(1).pth
SegmentAnythingModel_20230716_155525.pt
yolov8l-seg.pt
sam_vit_l_0b3195.pth
YoloLTrain1.pt
