/fibre1/
/Data
/Fibres1
/runs
yolov8n-seg.pt
/ImageCreation/detection
/ImageCreation/tmp
/ImageCreation/__pycache__
ImageCreation/__pycache__

Training/segmentAnything/sam_vit_h_4b8939.pth
Training/segmentAnything/1 manual count wool.jpg
Training/segmentAnything/images/
Step3_Train_Models/MaskRCNN/0.torch
Training/segmentAnything/sam_vit_b_01ec64.pth
SegmentAnythingModel_20230714_114428.pt
SegmentAnythingModel_20230714_120114.pt
